# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# rom stuff
*.gba
*.sav
*.sgm

# python cache
__pycache__

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
LastHeavenlyThrone.ss1
LastHeavenlyThrone.ss2
LastHeavenlyThrone.ss4
LastHeavenlyThrone.ss3
LastHeavenlyThrone.ss6
LastHeavenlyThrone.ss7
LastHeavenlyThrone.ups
LastHeavenlyThrone.ss5
LastHeavenlyThrone.ss8
LastHeavenlyThrone.ss9
LastHeavenlyThrone-0.png
LastHeavenlyThrone-1.png
LastHeavenlyThrone-2.png
LastHeavenlyThrone-3.png
LastHeavenlyThrone-4.png
LastHeavenlyThrone-5.png
LastHeavenlyThrone-6.png
LastHeavenlyThrone-7.png
LastHeavenlyThrone-8.png
LastHeavenlyThrone-9.png
LastHeavenlyThrone-10.png
LastHeavenlyThrone-11.png
LastHeavenlyThrone-12.png
LastHeavenlyThrone-13.png
LastHeavenlyThrone-14.png
LastHeavenlyThrone-15.png
LastHeavenlyThrone-16.png
LastHeavenlyThrone-17.png
LastHeavenlyThrone-18.png
LastHeavenlyThrone-19.png
LastHeavenlyThrone-20.png
LastHeavenlyThrone-21.png
LastHeavenlyThrone-22.png
LastHeavenlyThrone-23.png
LastHeavenlyThrone-24.png
LastHeavenlyThrone-25.png
LastHeavenlyThrone-26.png
LastHeavenlyThrone-27.png
LastHeavenlyThrone-28.png
LastHeavenlyThrone-29.png
LastHeavenlyThrone-30.png
LastHeavenlyThrone-31.png
LastHeavenlyThrone-32.png
LastHeavenlyThrone-33.png
LastHeavenlyThrone-34.png
LastHeavenlyThrone-35.png
LastHeavenlyThrone-36.png
LastHeavenlyThrone-37.png
LastHeavenlyThrone-38.png
LastHeavenlyThrone-39.png
LastHeavenlyThrone-40.png
LastHeavenlyThrone-41.png
LastHeavenlyThrone-42.png
LastHeavenlyThrone-43.png
LastHeavenlyThrone-44.png
LastHeavenlyThrone-45.png
LastHeavenlyThrone-46.png
LastHeavenlyThrone-47.png
LastHeavenlyThrone-48.png
LastHeavenlyThrone-49.png
LastHeavenlyThrone-50.png
LastHeavenlyThrone-51.png
LastHeavenlyThrone-52.png
LastHeavenlyThrone-53.png
LastHeavenlyThrone-54.png
LastHeavenlyThrone-55.png
LastHeavenlyThrone-56.png
LastHeavenlyThrone-57.png
LastHeavenlyThrone-58.png
LastHeavenlyThrone-59.png
LastHeavenlyThrone-60.png
LastHeavenlyThrone-61.png
LastHeavenlyThrone-62.png
LastHeavenlyThrone-63.png
LastHeavenlyThrone-64.png
LastHeavenlyThrone-65.png
LastHeavenlyThrone-66.png
LastHeavenlyThrone-67.png
LastHeavenlyThrone-68.png
LastHeavenlyThrone-69.png
LastHeavenlyThrone-70.png
LastHeavenlyThrone-71.png
LastHeavenlyThrone-72.png
LastHeavenlyThrone-73.png
LastHeavenlyThrone-74.png
LastHeavenlyThrone-75.png
LastHeavenlyThrone-76.png
LastHeavenlyThrone-77.png
LastHeavenlyThrone-78.png
LastHeavenlyThrone-79.png
LastHeavenlyThrone-80.png
LastHeavenlyThrone-81.png
LastHeavenlyThrone-82.png
LastHeavenlyThrone-83.png
LastHeavenlyThrone-84.png
LastHeavenlyThrone-85.png
LastHeavenlyThrone-86.png
LastHeavenlyThrone-87.png
LastHeavenlyThrone-88.png
LastHeavenlyThrone-89.png
LastHeavenlyThrone-90.png
LastHeavenlyThrone-91.png
LastHeavenlyThrone-92.png
LastHeavenlyThrone-93.png
LastHeavenlyThrone-94.png
LastHeavenlyThrone-95.png
LastHeavenlyThrone-96.png
LastHeavenlyThrone-97.png
LastHeavenlyThrone-98.png
LastHeavenlyThrone-99.png
LastHeavenlyThrone-100.png
